.contenedor {
  background-color: aliceblue;
  width: 900px;
  height: 400px;
  margin: auto;
  overflow: hidden;

}
.menu{
  list-style: none;
  border-top: 1px solid gray;
  padding-top: 20px;
  box-sizing: border-box;
}
.menu a{
  text-decoration: none;
  color: black;
}

.izquierda {
 width: 200px;
  
}

.derecha {
 width: 549px;
 border-left: 1px solid gray;
padding-left: 20px;
box-sizing: border-box;
}

.col {
  float: left;
}

