@font-face {
  font-family: 'SF Pro Text';
  src: url(./sf-pro-display/SFPRODISPLAYREGULAR.OTF);
}

*{
  font-family: 'SF Pro Text';
}
body{
  margin: 0;
}

nav{
  background-color: rgba(255,255,255,0.7);
  padding: 12px 0 12px 0;

}

nav ul{
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
}

nav ul a{
  color: #FFFFFF;
  text-decoration: none;
  margin: 0 37px 0 37px;
  font-size: 0.9rem;
}

.icon{
  width: 20px;
  height: 20px;
  background-size: 230% 230%;
  display: block;
  background-position: -13px -11px;
  background-repeat: no-repeat;

}

.manzanita{
  background-image: url(./imagenes_apple/img/globalnav_apple_image__cxwwnrj0urau_large.svg);
}

.lupa{
  background-image: url(./imagenes_apple/img/globalnav_search_image__fca9mfoh8a2q_large.svg);
  background-position: -33px -5px;
  background-size: 410% 410%;
}

.carrito{
  background-image: url(./imagenes_apple/img/globalnav_bag_image__bmix8075eg4i_large.svg);
}

.small_txt{
  font-size: 0.8rem;
  text-align: center;
}

.mainFoto{
  text-align: center;
  background-image: url(./imagenes_apple/img/hero__dvsxv8smkkgi_largetall_2x.jpg);
  min-height: 700px;
  background-position: center center;
  background-size: 900px auto;
  background-repeat: no-repeat;
  background-color: #131313;
  padding-top: 15px;
}

.t1{
  font-size: 3.2rem;
  color: white;
}

.t2{
  font-size: 1.7rem;
  color: white;
}

.t3{
  font-size: 1.2rem;
  background-color: rgba(255, 255, 255, 0.7);
}

