
h1 {
  text-align: center;
  color: white;
}

body {
  background-color: #FAC79F;
}

.box {
  margin: 20px auto;
  padding: 10px 10px 10px 10px;
  font-family: 'Times New Roman', Times, serif;
  width: 1171.11px;

}

.border-green {
  border: solid #65988C;
  background: #8AD0C0;
}

.border-gray-dot {
  border: dotted #9D9E9D;
  background-color: #E0E0E0;

}

.border-yellow {
  border: solid yellow;
  background-color: #FEFFB5;
}

.border-gray-double {
  border: double #848484;
  background-color: #E0E0E0;
}

.border-dashed {
  border: dashed #A89BDB ;
  background-color: #DFDAF2;
}
